.titlearena
  %h1 Bienvenue dans l'Arena


.arena
  .arena-content
    #fighter1.fighter
      %p choisis ton combattant
      =image_tag("guerrier.jpg", alt: "Choisis ton combattant", :width => "200px")
    #fighter2.fighter
      %p choisis ton combattant
      =image_tag("guerrier.jpg", alt: "Choisis ton combattant", :width => "200px")



= render "partials/footerarena"