.titlearena
  %h1 Bienvenue dans l'Arena


.arena
  .arena-content
    #fighter1.fighter
      %img{alt: "Choisis ton combattant", src: "fighter1.jpg"}
    #fighter2.fighter
      %img{alt: "Choisis ton combattant", src: "fighter2.jpg"}



= render "partials/footerarena"