%body
  %header.main-head
    %nav
      %h1#logo Warrior Arena
      %ul
        %li
          %a{href: "#"} Accueil
        %li
          %a{href: "#"} Combattants
        %li
          %a{href: "#"} Stats